.details-card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.details-card-content strong {
  font: 700 2.4rem Archivo;
  display: block;
  color: var(--color-text-title);
}

.details-card-content #details-card-price{
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center; 

  margin-left: 10px;
}

.details-card-content #details-card-price strong{
  color: var(--color-primary);
  font-size: 1.6rem;
  display: block; 

  margin-left: 10px;
}

.details-card-content #details-card-description  {
  margin: 25px 0;

  padding: 0 2rem;
  font-size: 1.6rem;
  line-height: 2.8rem;
  overflow-wrap: break-word;

  height: auto;
  width: 40vw;
  max-width: 40vw;
}

#delete {
  background-color: #E33D3D !important;
}
#delete:hover {
  background-color: #ad2f2f !important;
  transition: all 0.2s ease-in;
}


@media(max-width: 770px){
  .details-card-content #details-card-description  {
    height: auto;
    width: 80vw;
    max-width: 80vw;
  }
}
