.text-center {
  text-align: center;
}

.block #details-card-title {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.block #details-card-title strong {
  max-width: 320px;
  overflow-wrap: break-word;
  font: 700 2.4rem Archivo;
  color: var(--color-text-title);
}

.block #details-card-description {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.block #details-card-description  p{
  max-width: 500px;
  overflow-wrap: break-word;
}

.block #details-card-price{
  font-size: 1.6rem;
}

.block #details-card-price strong{
  color: var(--color-primary);
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

#delete, #update {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#delete img, #update img{
  margin-right: 10px;
}

#delete {
  background-color: #E33D3D !important;
  margin-top: 3.2rem;
}
#delete:hover {
  background-color: #ad2f2f !important;
  transition: all 0.2s ease-in;
}

@media(max-width: 770px){
  .block #details-card-description p {
    max-width: 320px;
  }
  .block #details-card-title strong {
    max-width: 320px;
  }
}
