#home-page {
  width: 100%;
  height: 100vh;
}

.content {
  width: 100%;
  height: 70%;

  background-color: var(--color-primary);

  display: flex;
  align-items: center;
  justify-content: space-around;

  /* background-image: url(../images/05.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover; */
}

.content .logo-container img {
  width: 28.31vw;
}

.content .logo-container h2 {
  font-weight: 300;
  font-size: 2.5vw;   
  width: 23.6vw; 

  color: var(--text);
}

.content div:nth-child(2) img {
  width: 40vw;
}

.footer {
  height: 30%;
  width: 100%;

  background-color: #E5E5E5;
  
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-container{
  width: 100%;
  height: 80%;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.text-container{
  font-size: 1.8vh;
}

.text-container p {
  color: var(--color-text-base);
  font-weight: normal;
}

.text-container p:last-child {
  font-weight: 600;
}


.buttons-container {
  font-family: Archivo;
  font-style: normal;
  font-weight: 600;
  font-size: 2.2vh;
  line-height: 26px;
  text-decoration: none;
  gap: 20px;

  display: flex;
}

.products {
  width: 27vw;
  height: 10vh;
  border-radius: 1vw;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

.products img {
  width: 2vw; 
}

.products:nth-child(1) {
  background-color: var(--color-primary);
  transition: 0.2s;
}
.products:nth-child(1):hover {
  background-color: var(--color-primary-dark);
}
.products:nth-child(2) {
  transition: 0.2s;
  background-color: var(--color-primary);
}
.products:nth-child(2):hover {
  background-color: var(--color-primary-dark);
}

.total-products {
  color: var(--color-text-complement);
  font-weight: 300;
  font-size: 1.7vh;
}

.total-products img{
  margin-left: 1vw;
  width: 1vw;
}

@media(max-width: 750px){
  
  .content {
    flex-direction: column;
    justify-content: center;
  }

  .content .logo-container{
    text-align: center;
  }

  .content .logo-container h2 {
    font-size: 5.5vw;
    width: 67vw;
  }

  .content .logo-container img {
    width: 67vw;
    max-width: 300px;
  }

  .content div:nth-child(2) img {
    margin-top: 5vh;
    width: 47vw;
    min-width: 230px;
  }

  .footer .footer-container{
    flex-direction: column;
  }

  .text-container{
    text-align: center;
  }

  .footer .footer-container .buttons-container{
    width: 90%;
    justify-content: space-between;
    font-size: 16px;
  }

  .footer .footer-container .buttons-container .products {
    width: 45vw; 
  }

  .footer .footer-container .buttons-container .products img {
    width: 24px; 
  }

  .footer .total-products {
    padding-top: 1vh;
  }

  .total-products img{
    margin-left: 1vw;
    width: 3vw;
  }
}