#home-page {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  height: 70vh;

  background-color: var(--color-primary);

  /* background-image: url(../images/05.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover; */
}

#page-home-content {
  width: 100%;
  height: 100%;

  /* margin-top: 10rem; */
  
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#page-home-content .logo-container img {
  width: 25vw;
}

#page-home-content div:nth-child(2) img {
  width: 50vw;
}

#page-home-content .logo-container h2 {
  font-weight: 300;
  font-size: 3rem;   
  width: 300px; 

  color: var(--text);
}

.footer {
  height: 30vh;
  width: 100%;

  background-color: #E5E5E5;
  
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer .footer-container{
  width: 100%;
  height: 80%;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer .text-container p {
  color: var(--color-text-base);
  font-weight: normal;
}

.footer .text-container p:last-child {
  font-weight: 600;
}

.footer .total-products {
  color: var(--color-text-complement);
  font-weight: 300;
  text-align: right;
  font-size: 1.4rem;
}

.footer .total-products img{
  margin-left: 10px;
}

.footer .buttons-container {
  font-family: Archivo;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  gap: 20px;

  display: flex;
}

.footer .buttons-container .products {
  width: 20vw;
  height: 10vh;
  border-radius: 8px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

.footer .buttons-container .products:nth-child(1) {
  background-color: var(--color-primary);
  transition: 0.2s;
}
.footer .buttons-container .products:nth-child(1):hover {
  background-color: var(--color-primary-dark);
}
.footer .buttons-container .products:nth-child(2) {
  transition: 0.2s;
  background-color: var(--color-secundary);
}
.footer .buttons-container .products:nth-child(2):hover {
  background-color: var(--color-secundary-dark);
}


@media(max-width: 700px){
  
  #page-home-content {
    flex-direction: column;
    justify-content: center;
  }

  #page-home-content .logo-container img {
    width: 60vw;
  }

  #page-home-content div:nth-child(2) img {
    margin-top: 4vh;
    width: 70vw;
  }

  .footer .footer-container{
    flex-direction: column;
  }

  .footer .footer-container .buttons-container{
    width: 90%;
    justify-content: space-between;
    font-size: 16px;
  }

  .footer .footer-container .buttons-container .products {
    width: 45vw; 
  }

  .footer .footer-container .buttons-container .products img {
    width: 24px; 
  }

  .footer .total-products {
    padding-top: 1vh;
  }
}