#list{
  width: 100%;
  max-width: 100%;
  height: 100vh;
}

#list .page-header{
  padding-bottom: 0px;
}

#list main{
  margin: -3.2rem auto;
  /* padding: 3.2rem 0; */
  
  width: 100%;
  max-width: 1200px;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-item{
  background: var(--color-box-base);
  border: 1px solid var(--color-line-in-white);
  border-radius: 0.8rem;
  overflow: hidden;
  width: 35rem;
  max-width: 35rem !important;
  margin-bottom: 20px;
}

.card-item header{
  padding: 3.2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-item header img{
  width: 20rem;
  height: 20rem;

  margin-bottom: 15px;
}

.card-item header div {
  display: flex;
  justify-content: center;
}

.card-item header div strong{
  max-width: 250px;
  overflow-wrap: break-word;
  text-align: center;
  overflow: hidden;
  height: 30px;
  font: 700 2.4rem Archivo;
  color: var(--color-text-title);
}

.card-item > p{
  padding: 0 5rem;
  font-size: 1.6rem;
  line-height: 2.8rem;
  overflow-wrap: break-word;
  overflow: hidden;
  height: 50px;
}

.card-item footer{
  padding: 3.2rem 2rem;
  background: var(--color-box-footer);
  border-top: 1px solid var(--color-line-in-white);
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card-item footer p {
  display: flex; 
}

.card-item footer p strong{
  color: var(--color-primary);
  font-size: 1.6rem;
  margin-left: 1.6rem;
  display: block;  
}

.card-item footer a{
  width: 20rem;
  height: 5.6rem;
  background: var(--color-secundary);
  color: var(--color-button-text);
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  font: 700 1.4rem Archivo;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.2s;
  text-decoration: none;
  margin-top: 15px;
}

.card-item footer a:hover{
  background: var(--color-secundary-dark);
}

@media(max-width: 770px){

  #list .page-header{
    padding-bottom: 50px;
  }

  #list main{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card-item{
    margin-bottom: 20px;
  }

  .card-item header,
  .card-item footer {
      padding: 3.2rem;
  }

  .card-item > p{
      padding: 0 3.2rem;
  }

  .card-item footer button{
      width: 24.5rem;
      font-size: 1.6rem;
      justify-content: center;
  }

  .card-item footer button img{
      margin-right: 1.6rem;
  }

}